<% if can? :admin, Spree::QuestionCategory %>
  <ul class="nav nav-sidebar">
    <li class="sidebar-menu-item" >
      <%= tab Spree.t(:lookbook, scope: :spree_lookbook), icon: 'promotion', url: admin_lookbooks_path %>
    </li>
  </ul>
<% end %>
