
<div id="accordion">
  <% cache [I18n.locale, @lookbook] do %>
      <ul class="menu-sidebar">
        <li class ="first__link">
          <ul class="menu-sidebar">
          <% @taxon.self_and_descendants.joins(:lookbooks).uniq.each do |t| %>
                <li class=" second__link"><%= link_to t.name, nested_taxons_path(t) %>
                  <ul class="menu-sidebar">

                  <% t.lookbooks.each do |l| %>
                        <li class="third__link"><%= link_to l.name, show_lookbook_path(l.slug)  %></li>
                  <% end %>
                  </ul>

                </li>

          <% end %>
        </li>
      </ul>
  <% end %>
</div>

